<?xml version="1.0" encoding="UTF-8" ?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns="http://www.padual.com/java/logback.xsd"
               debug="false" scan="true" scanPeriod="300 seconds"
               xsi:schemaLocation="http://www.padual.com/java/logback.xsd">
    <springProfile name="dev">
        <property name="logPath" value="/Users/sunshuangcheng/source/java/databee/logs"/>
    </springProfile>

    <springProfile name="prod">
        <property name="logPath" value="/logs"/>
    </springProfile>

<!--    <property name="logPath" value="/Users/sunshuangcheng/source/java/databee/logs"/>-->
    <property name="logPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5level --- [%thread] %logger{50} - %msg%n"/>
    <property name="logFileNamePattern" value="-%d{yyyy-MM-dd}.%i.log"/>
    <property name="logMaxFileSize" value="100MB"/>
    <property name="logMaxHistory" value="30"/>

    <!--控制台-->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{50}) - %highlight(%msg) %n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!--通用错误-->
    <appender name="commonError" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${logPath}/common-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>common-error.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t - %-5p] %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="common" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${logPath}/common.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>common.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t - %-5p] %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="com.alan.databee.common.util.log.LogLevelFilter">
            <minLevel>info</minLevel>
            <maxLevel>warn</maxLevel>
        </filter>
    </appender>
    <root level="info">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="commonError"/>
    </root>

    <!--和数据库相关的日志-->
    <appender name="taskConfigAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${logPath}/taskConfig.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>taskConfig.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t - %-5p] %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <logger name="taskConfigLogger" level="info">
        <appender-ref ref="taskConfigAppender"/>
    </logger>

    <!--task处理过程的日志-->
    <appender name="PageProcessorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${logPath}/pageProcessor.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>pageProcessor.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t - %-5p] %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="com.alan.databee.common.util.log.LogLevelFilter">
            <minLevel>info</minLevel>
            <maxLevel>warn</maxLevel>
        </filter>
    </appender>
    <logger name="PageProcessorLogger" level="info">
        <appender-ref ref="PageProcessorAppender"/>
    </logger>

    <!--生成脚本的日志-->
    <appender name="scriptAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${logPath}/script.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>script.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t - %-5p] %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="com.alan.databee.common.util.log.LogLevelFilter">
            <minLevel>info</minLevel>
            <maxLevel>warn</maxLevel>
        </filter>
    </appender>
    <logger name="scriptLogger" level="info">
        <appender-ref ref="scriptAppender"/>
    </logger>

    <!--taskRunner 的日志，记录一个task的任务情况，主要是记录task运行信息-->
    <appender name="taskRunnerAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${logPath}/taskRunner.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>taskRunner.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t - %-5p] %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="com.alan.databee.common.util.log.LogLevelFilter">
            <minLevel>info</minLevel>
            <maxLevel>warn</maxLevel>
        </filter>
    </appender>
    <!--taskRunner 的日志，记录一个task的错误日志-->
    <appender name="taskRunnerErrorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${logPath}/taskRunnerError.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>taskRunnerError.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t - %-5p] %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <logger name="taskRunnerLogger" level="info">
        <appender-ref ref="taskRunnerAppender"/>
        <appender-ref ref="taskRunnerErrorAppender"/>
    </logger>

    <!--每天处理的task的总记录-->
    <appender name="taskAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${logPath}/task.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>task.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>20MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t - %-5p] %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <logger name="taskLogger" level="info" additivity="true">
        <appender-ref ref="taskAppender"/>
    </logger>

    <appender name="controllerAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${logPath}/controller.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>controller.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t - %-5p] %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <logger name="controllerLogger" level="info" >
        <appender-ref ref="controllerAppender"/>
    </logger>

    <logger name="debugLogger" level="debug" additivity="false">
        <appender-ref ref="consoleAppender"/>
    </logger>


    <!--通过日志固化数据-->
    <appender name="LogePipelineAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${logPath}/Content/content.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>content.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <logger name="LogPipelineLogger" level="info">
        <appender-ref ref="LogePipelineAppender"/>
    </logger>

    <!--通过日志固化数据-->
    <appender name="FxyAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${logPath}/Content/Fxy_content.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>Fxy_content.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <logger name="FxyLogger" level="debug">
        <appender-ref ref="FxyAppender"/>
    </logger>



</configuration>